# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Node.js (Server)
server/node_modules/
server/package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo
